.review-results {
	background-color: var(--primary-lighter-color);
	width: 100vw;
	height: 100vh;
	padding: 10vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.review-results-text-wrapper {
	text-align: center;
	margin-bottom: 60px;
}

.review-results-text-wrapper h1 {
	font-size: 56px;
}

.review-results-text-wrapper p {
	font-size: 16px;
	font-weight: bold;
}

.review-results-button-wrapper {
	margin-bottom: 75px;
}

.review-results .capi-img {
	width: 250px;
	height: auto;
	position: absolute;
	bottom: -20px;
	right: -40px;
}
