.login {
	background-color: #21b583;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login .text_button .MuiButton-contained {
	padding: 8px;
}

.login__without_account.default_font {
	color: var(--light-color);
	font-weight: bold;
}

.login__register_here.default_font {
	font-weight: bold;
	color: var(--secondary-color);
}

.login button {
	border: none;
	background-color: transparent;
}

.login__error_text.default_font {
	color: var(--wrong-color);
	font-weight: bold;
	font-size: 18px;
}

.login__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
