.text_button .MuiButton-contained {
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	font-family: var(--font-family);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: none;
	letter-spacing: -0.017em;
	width: 144px;
	height: 46px;
}

.text_button .MuiButton-contained:hover {
	background-color: var(--secondary-color);
}
