.not_found {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--dark-color);
	background-color: var(--primary-lighter-color);
}

.not_found h1 {
	text-align: center;
}

.not_found .default_font {
	font-weight: bold;
	font-size: 55px;
}

.not_found__logo {
	transform: rotate(12.38deg);
}
