.section_card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	padding: 16px;
}

.section_card h1 {
	margin: 0;
	font-size: 20px;
}

.section_card p {
	margin: 0;
	font-size: 14px;
	text-align: justify;
}

.button_wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.section_card .text_button .MuiButton-contained {
	filter: none;
	background-color: var(--light-color);
}

.section_card .text_button .MuiButton-contained:hover {
	filter: none;
	background-color: var(--light-color);
}

.section_card#section1 {
	background-color: var(--section-1-color);
}

.section_card#section2 {
	background-color: var(--section-2-color);
}

.section_card#section3 {
	background-color: var(--section-3-color);
}

.section_card#section4 {
	background-color: var(--section-4-color);
}
