:root {
	--primary-color: #21b583;
	--primary-darker-color: #115a42;
	--primary-lighter-color: #90dac1;
	--secondary-color: #ffbe5d;
	--secondary-lighter-color: #ffc978;
	--secondary-details-color: #f5da93;
	--light-color: #fafafa;
	--dark-color: #121212;
	--wrong-color: #ff5858;
	--purple: #acb5e3;

	--lesson-1-color: #909cda;
	--lesson-2-color: #ee9191;
	--lesson-3-color: #f5da93;
	--lesson-4-color: #c1a2ea;
}
