:root {
	--primary-color: #21b583;
	--primary-darker-color: #115a42;
	--primary-lighter-color: #90dac1;
	--secondary-color: #ffbe5d;
	--secondary-lighter-color: #ffc978;
	--light-color: #fafafa;
	--dark-color: #121212;
}
